/* ====================* Базові налаштування *==================== */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  height: auto;
}

.link {
  font-style: normal;
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'DM Sans', sans-serif;
}

/* ====================* Медіа правила для контейнерів *==================== */
/* --- Before Mobile container ---- */
@media screen and (max-width: 375px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

    // outline: 2px solid black;
  }
}
/* --- Mobile container ---- */
@media screen and (min-width: 375px) {



  .container {
    //!!!!!!!!!!!!!!!!!!!!!!
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    //!!!!!!!!!!!!!!!!!!!!!! 
  width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

    // outline: 2px solid red;
  }
}
/* --- Planshet container ---- */
@media screen and (min-width: 768px) {

  

  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;

    // outline: 2px solid green;
  }
}
/* --- Desctop container ---- */
@media screen and (min-width: 1440px) {

  .cover {
    //!!!!!!!!!!!!!!!!!!!!!!
    display: flex;
    // justify-content: space-between; 
    //!!!!!!!!!!!!!!!!!!!!!! 
  }

  .container {
    width: 1440px;
    padding-left: 24px;
    padding-right: 24px;

    // outline: 2px solid blue;
  }
}
