// Контейнер для категорій
.js-list-bestsellers {
  display: flex;
  flex-direction: column;
  // justify-content: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

// Контейнер кнопки See more
.js-button-container {
    display: flex;
    justify-content: flex-end;
}

// Кнопка See more
.js-see-more {
  color: var(--black);
}

