.js-list-bestsellers {
  display: flex;
  flex-direction: column;

  justify-content: center;
  // margin-left: auto;
  // margin-right: auto;
}

// Контейнер кнопки See more
.js-button-container {
    display: flex;
    justify-content: flex-end;
}

// Кнопка See more
.js-see-more {
  color: var(--black);
//   display: flex;
//   justify-content: flex-end;
}
