.js-list-bestsellers {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    // margin-left: auto;
    // margin-right: auto;
}

// Кнопка See more
.js-see-more {
    float: right;

  }