:root {
  /* Кольори макету */
  --black: #111111;
  --black-light: #202024;
  --violet: #4f2ee8;
  --yellow: #eac645;
  --white: #ffffff;
  --second-white: #F6F6F6;
  --gray: #B4AFAF;
  --category-author: #b4afaf;
}
