body {
    background-color: white;
    color: #111;
    margin: 0;
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.9;
}
.black-theme {
    background-color: #000000;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.desktop-item {
    display: none;
}
.header {
    position: relative;
    background: #fff;
    border-radius: 0px 0px 8px 8px;
    border: 1.5px solid #111;
    overflow: hidden;
}
.header-box {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 18px 0px;
}
.nav-logo {
    display: flex;
    width: 100%;
}
.desktop-nav {
    display: none;
} 
.logo-text-svg {
    fill:#000000;
}
.black-theme .logo-text-svg {
    fill:#fff
}
.black-theme .header {
    background: var(--black);
    border-color: white;
}
.black-theme .icon-menu,
.black-theme .icon-close-menu {
    stroke: white;
}
.box-nav-list.mobile-nav {
    display: none;
}
.logo-link {
    display: flex;
    align-items: center;
    width: 109px;
    height: 28px;
    gap: 8px;
    margin-right: auto;
}
.logo-text-svg {
    fill: #000000
}
.Bookshelf-1 {
    width: 82px;
    height: 17px;
}
.mobile-shoping-list {
    margin-top: 16px;
    color: #FFF;
}
.mobile-cart {
    fill: #FFF;
}

.mobile-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.switch input {
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('../images/switcher.svg');
    background-repeat: no-repeat;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.10) inset;
    -webkit-transition: .4s;
    transition: .5s;
    border-radius: 24px;
}
.user {
    display: none;
}
.slider::before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: -2px;
    bottom: 0;
    background-image: url(../images/slider.svg);
    -webkit-transition: .5s;
    transition: .5s;
}
input:checked+.slider {
    background-image: url(../images/Switcher-on.svg);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}
.signup.mobile-signup {
    display: none;
}
.icon-menu {
    stroke: #111;
}
.icon-close-menu {
    stroke: #111;
}

.menu-button {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}
.menu-button .icon-close-menu {
    display: none;
}
.menu-button.is-open .icon-close-menu {
    display: block;
}
.menu-button.is-open .icon-menu {
    display: none;
}
.menu-container {
    width: 375px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    position: fixed;
    height: 100vh;
    z-index: 2;
    background-image: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
}
.menu-container.is-open {
    display: block;
}
.signup {
    display: flex;
    align-items: center;
    width: 184px;
    height: 48px;
    border-radius: 18px;
    border:none;
    background: #4f2ee800;
    color: #fff;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
    margin-top: 84px;
    padding-left: 14px;
    gap: 90px;
    margin-bottom: 172px;
}
.signup.momile-signup {
    display: none;
}
.arrow-right-icon {
    stroke: var(--yellow);
}
.nav-list {
    display: none;
    justify-content: center;
    margin: 0;
}
.mobile-menu {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 247px;
}
.mobile-home-list>.home-link {
    color: white;
}
.home-link-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 34px;
    border-radius: 36px;
    color: #fff;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
}
.home-link {
    padding: 8px 16px;
    border-radius: 36px;
}
.home-link:hover,
.home-link:focus {
    background: var(--yellow);
    font-weight: 700;
}
.shopping-link-menu {
    display: flex;
    align-items: center;
    padding: 7px 16px;
    border-radius: 36px;
    gap: 4px;
}
.shopping-link-menu:hover,
.shopping-link-menu:focus {
    background: var(--yellow);
    font-weight: 700;
}
.authorization {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 14px 14px 14px 24px;
    bottom: 44px;
    left: 44px;
    width: 118px;
    height: 48px;
    border-radius: 18px;
    border: 1.5px solid #111;
    background: #FFF;
    z-index: 2;
}
.authorization-text {
    color: #111;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
    margin-right: 4px;
}
.image {
    background-image: url('../images/Group\ 6\ .png');
    height: 370px;
    width: 375px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
}
@media screen and (min-width:768px) {
    .box-nav-list.mobile-nav {
        display: flex;
        align-items: center;
    }
    .logo-link {
        margin-right: 40px;
    }
    .header-item {
        color: #111;
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.56px;
        text-transform: uppercase;
    }
    .menu-button {
        display: none;
    }
    .signup.mobile-signup {
        display: flex;
        margin: 0;
    }
    .menu-button:hover {
        stroke: var(--violet);
        fill: var(--violet);
    }
    .burger-button {
        display: none;
    }
    .cart {
        margin-left: 8px;
    }
    .spopping-item {
        display: flex;
        align-items: center;
    }
    .box-nav-list.mobile-nav {
        display: flex;
        align-items: center;
        gap: 24px;
        color: white;
        margin-right: auto;
    }
    
    .signup {
        display: block;
    }
    .user {
        color: #FFF;
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.56px;
        display: flex;
        align-items: center;
        padding: 8px 12px 8px 12px;
        width: 184px;
        height: 45px;
        border-radius: 36px;
        border: 1.5px solid #111;
        background: var(--violet);
        gap: 90px;
    }
    .arrow-right-icon {
        stroke: var(--yellow);
        height: 20px;
    }
    .nav-logo {
        align-items: center;
    }
    .mobile-panel {
        gap: 24px;
    }
    .menu-container {
        display: none;
    }
}

@media screen and (min-width:1280px) {

    .header-box {
        padding: 0px;
    }

    .container {
        max-width: 1440px;
        margin-right: auto;
        margin-left: auto;
        padding: 14px 24px;
    }
    .desktop-nav {
        display: flex;
        align-items: center;
    } 
    .logo-link {
        display: flex;
        align-items: center;
        margin-right: 76px;
        gap: 8px;
        
    }
}
