.popup-img{
    width: 287px;
    height: 408px;
    margin-top: 28px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 335px;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 12px 12px 40px;
}

.modal-close {
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    right: 12px;
}

.modal-close-btn {
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    background: transparent;
    // border-radius: 50%;
    // background-color: #fff;
    // border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title{
    color: #111;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    /* 112.5% */
    letter-spacing: -0.64px;
    margin-top: 14px;
    padding: 0 12px;
}

.author{
    margin-top: 4px;
    padding: 0 12px;
    color: #B4AFAF;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
     /* 116.667% */
    letter-spacing: -0.48px;
}

.text{
    margin-top: 18px;
    padding: 0 12px;
    color: #111;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.56px;
}

.shop-list{
    margin-top: 14px;
    padding: 0 12px;
    display: flex;
    gap: 20px;
}

.add{
    margin-top: 40px;
    border-radius: 40px;
    border: 2px solid #4F2EE8;
    display: block;
    padding: 14px 28px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    color: #111;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.14px;

}


@media screen and (min-width: 768px) and (max-width: 1439px) {

    .popup-img {
        width: 192px;
        height: 281px;
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;

    }

    .modal{
        width: 579px;
        padding: 40px;
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
    }

    .modal-close{
        top:24px;
    }

    .title{
        margin-top: 0;
    }

    .text{
        max-width: 279px;
    }

    .add{
        margin-top: 20px;
        padding: 20px 149.5px;
    }


}