img {
  width: 100%;
}
.book-img {
  margin-bottom: 14px;
}

.book-author {
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.4px;
  color: var(--gray);
}
.book-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.4px;
  margin-bottom: 4px;
}
.book-div {
  width: 335px;
}
@media screen and (min-width: 768px) {
  .book-div {
    width: 218px;
  }
}
@media screen and (min-width: 1440px) {
  .book-div {
    width: 180px;
  }
}
.selected-books-div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  justify-content: center;
  width: 335px;
}
@media screen and (min-width: 768px) {
  .selected-books-div {
    gap: 40px 25px;
    width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .selected-books-div {
    gap: 40px 24px;
    width: 998px;
  }
}

// @media screen and (min-width: 768px){}
// @media screen and (min-width: 1440px){}

// - - - -  LOADER - - - - -
.loader {
  width: 200px;
  height: 140px;
  background: #979794;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
  perspective: 1000px;
}

.loader:before {
  content: '';
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  border-radius: 8px;
  background: #f5f5f5 no-repeat;
  background-size: 60px 10px;
  background-image: linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0);

  background-position: 15px 30px, 15px 60px, 15px 90px, 105px 30px, 105px 60px,
    105px 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.loader:after {
  content: '';
  position: absolute;
  width: calc(50% - 10px);
  right: 10px;
  top: 10px;
  bottom: 10px;
  border-radius: 8px;
  background: #fff no-repeat;
  background-size: 60px 10px;
  background-image: linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0);
  background-position: 50% 30px, 50% 60px, 50% 90px;
  transform: rotateY(0deg);
  transform-origin: left center;
  animation: paging 1s linear infinite;
}

@keyframes paging {
  to {
    transform: rotateY(-180deg);
  }
}
