.structure {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.book-img {
  border-radius: 8px;
  width: 100%;
  max-height: 485px;
  
}

@media screen and (min-width: 768px) {
  .book-img {
    width: 100%;
    height: 316px;
  }
}
@media screen and (min-width: 1440px) {
  .book-img {
    width: 100%;
    height: 256px;
  }
}
.book-author {
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.4px;
  color: var(--gray);
}
.book-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.4px;
  margin-bottom: 4px;
}
.book-div {
  position: relative;
  overflow: hidden;
  margin-bottom: 14px;
}
.card-animation{
  font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 128.571% */
letter-spacing: -0.56px;
text-transform: uppercase;
  border: 0;
  width: 100%;
  display: flex;
  height: 70px;
  padding: 0px 52px;
  justify-content: center;
  align-items: center;
  position: absolute;
bottom: 0px;
border-radius: 0px 0px 8px 8px;
background: #EAC645;
transform: translateY(100%);
    transition: transform 250ms;
}
.book-div:hover .card-animation{
  transform: translateY(0);
}
.book-li {
  max-width: 335px;
}
@media screen and (min-width: 768px) {
  .book-li {
    width: 218px;
  }
}
@media screen and (min-width: 1440px) {
  .book-li {
    width: 180px;
  }
}
.selected-books-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  justify-content: center;
}


@media screen and (min-width: 768px) {
  .selected-books-ul {
    gap: 40px 25px;
    // width: 704px;
    justify-content: start;
  }
}

@media screen and (min-width: 1440px) {
  .selected-books-ul {
    gap: 40px 24px;
    // width: 998px;
    justify-content: start;
  }
}

// @media screen and (min-width: 768px){}
// @media screen and (min-width: 1440px){}

// - - - -  LOADER - - - - -
.loader {
  width: 200px;
  height: 140px;
  background: #979794;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
  perspective: 1000px;
}

.loader:before {
  content: '';
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  border-radius: 8px;
  background: #f5f5f5 no-repeat;
  background-size: 60px 10px;
  background-image: linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0);

  background-position: 15px 30px, 15px 60px, 15px 90px, 105px 30px, 105px 60px,
    105px 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.loader:after {
  content: '';
  position: absolute;
  width: calc(50% - 10px);
  right: 10px;
  top: 10px;
  bottom: 10px;
  border-radius: 8px;
  background: #fff no-repeat;
  background-size: 60px 10px;
  background-image: linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0);
  background-position: 50% 30px, 50% 60px, 50% 90px;
  transform: rotateY(0deg);
  transform-origin: left center;
  animation: paging 1s linear infinite;
}

@keyframes paging {
  to {
    transform: rotateY(-180deg);
  }
}
.head-sc {
  margin-top: 40px;
  margin-bottom: 40px;
}

.header-sc {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -1.28px;
}
@media screen and (min-width: 768px) {
  .header-sc {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1.92px;
  }
}

.header-category {
  color: var(--black);
}
.header-last-word {
  color: var(--violet);
}

.selected-category {
  width: 335px
}
@media screen and (min-width: 768px) {
  .selected-category {
    width: 704px
  }
}
@media screen and (min-width: 1440px) {

  .structure {
    display: flex;
    flex-direction: row;
  }

  .selected-category {
    width: 996px;
  }
}
