.shopping-list {
  background-color: var(--second-white);

  &__title {
    margin-bottom: 40px;
    color: var(--black);

    @include for-phone-only {
      font-size: 32px;
      line-height: 118.75%;
      letter-spacing: -1.28px;
    }

    @include for-tablet-up {
      font-size: 48px;
      line-height: 108.333%;
      letter-spacing: -1.92px;
    }
  }
}

.violet {
  color: var(--violet);
}

.sup-shop-cont {
  margin-top: 40px;
}
