@import './common';
@import './example';
// Базові налаштування
@import './base';
// Підключаємо стилі шрифтів
@import './fonts';
// Підключення кольорової палітри макету
@import './colors';
// Стилі BestSellers
@import '../sass/bestsellersoleksii';
@import './bestsellersoleg';

