@import './common';
@import './example';
// Базові налаштування
@import './base';
// Підключаємо стилі шрифтів
@import './fonts';
// Підключення кольорової палітри макету
@import './colors';
// Стилі Best-Sellers
@import './best-sellers/bsoleksi';
@import './best-sellers/bsoleg';

