@import './common';
@import './example';
// Базові налаштування
@import './base';
// Підключаємо стилі шрифтів
@import './fonts';
// Підключення кольорової палітри макету
@import './colors';
// Стилі Best-Sellers
@import './best-sellers/bsoleksi';
@import './best-sellers/bsoleg';
// Стилі suporting Ukraine
@import './supUkr/supportukraine';
//  Підключаемо All categories 
@import './allCatMenu/allCategories';
// Стилі Selected Category
@import './select-category';
// Підключення стилів header
@import './header';
// Підключення стилів shoping-list
@import './shopping-pagination.scss';
@import './shopping-empty.scss'; 
