.cover-spU-menu {
  margin-bottom: 40px;
}

.support {
  z-index: 0;
  padding: 24px 40px;
  list-style-type: none;
  width: 335px;
  max-width: 100%;
  height: 352px;
  border-radius: 16px;
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
}

.hide-support-shop-list .support {
  display: none;
}

.head-title {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.04em;
  display: flex;
  gap: 12px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.next {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  margin: 0 auto;
}

.swiper {
  height: 188px;
  margin-top: 44px;
  margin-bottom: 16px;
}

@media screen and (min-width: 375px) and (max-width: 767px) {

  

}

@media screen and (min-width: 768px) {

  .support {
    height: 474px;
  }

  .cover-spU-menu {
    display: flex;

  }

  .swiper {
    height: 292px;
  }
}

.swiper-slide {
  display: flex !important;
  height: auto !important;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
}

.support-index {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.support-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  margin-bottom: 23px;
  color: #ffffff;
  filter: brightness(0) invert(1);
}

.support-list {
  display: flex;
  flex-direction: column;
}

.support-link {
  height: 32px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1440px) {

  .hide-support-shop-list .support {
    display: block;
  }

  .cover-spU-menu {
    flex-direction: column;
  }

  .support {

    width: 356px;
    
  }
}