<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="all-categories">
        <div class="container">
            <h1 class="hero-title">Best Sellers <span class="colored-text">Books</span></h1>
            <div class="section-book">
                <h2 class="bf-title js-e-book-fiction">COMBINED PRINT AND E-BOOK FICTION</h2>
                <ul class="js-list"></ul>
            </div>
            <button class="bs-button js-e-book-fiction">SEE MORE</button>
        </div>
    </section>
    <script src="./bestsellers.js"></script>
</body>
</html>