<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="all-categories">
        <div class="container">
            <h1 class="best-sellers">Best Sellers <span class="accent">Books</span></h1>
            <h2 class="e-book-fiction">Combined Print and E-Book Fiction</h2>
            <ul class="js-list"></ul>
            <button class="bs-button js-e-book-fiction">SEE MORE</button>
        </div>
    </section>
    <script src="./bestsellers.js"></script>
</body>
</html>