<header class="header container">
    <div class="header-box">
        <nav class="nav-logo">
            <a href="/src/index.html" class="logo-link">
                <svg class="logo-svg" width="24" height="24">
                    <use href="./images/sprite.svg#logo-6-1"></use>
                </svg>
                <svg class="logo-text-svg" width="77" height="28">
                    <use href="./images/sprite.svg#Bookshelf-1"></use>
                </svg>
            </a>
            <ul class="box-nav-list mobile-nav">
                <li>
                    <a class="header-item home-link" href="/src/index.html" class="current-home home-link">HOME</a>
                </li>
                <li>
                    <a class="header-item shopping-link-menu" href="#" class="current-shopping shopping-link">
                        
                        SHOPPING  LIST
                    </a>
                </li>
            </ul>
            <div class="mobile-panel">
                <label class="switch" id="theme-switch-header">
                    <input type="checkbox" class="theme-checkbox">
                    <span class="slider"></span>
                </label>
                <button type="button" class="menu-button" aria-expanded="false" aria-controls="menu-container" data-menu-button>
                    <svg aria-label="mobile menu-button" width="28" height="28">
                        <use class="icon-close-menu" href="./images/sprite.svg#x-close"></use>
                        <use class="icon-menu" href="./images/sprite.svg#align-left"></use>
                    </svg>
                </button>
                <button class="user">
                    <svg class="icon-user" width="37" hight="37">
                        <use class="user" href="./images/sprite.svg#user-3-1"></use>
                    </svg>
                    Stephen
                    <svg width="23" hight="26">
                        <use class="user" href="./images/sprite.svg#fi-ss-caret-down-5-1"></use>
                    </svg>
                </button>
            </div>
            <div class="menu-container" id="menu-container" data-menu>
                <button class="signup" type="button">
                    Stephen
                    <svg class="arrow-right-icon" width="20" hight="20">
                        <use class="icon-menu" href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
                <ul class="mobile-menu">
                    <ul class="box-nav-list">
                        <li>
                            <a class="header-item home-link-menu" href="/src/index.html" class="current-home home-link-menu">HOME</a>
                        </li>
                        <li>
                            <a class="header-item shopping-link-menu" href="" class="current-shopping shopping-link-menu">
                                SHOPPING LIST
                            </a>
                        </li>
                    </ul>
                </ul>
            </div>   
        </nav>
    </div>   
</header>
