<header class="header container">
    <div class="header-box">
        <nav class="nav-logo">
            <a href="/src/index.html" class="logo-link">
                <svg class="logo-svg" width="24" height="24">
                    <use href="./images/sprite.svg#logo-6-1"></use>
                </svg>
                <svg class="logo-text-svg" width="77" height="28">
                    <use href="./images/sprite.svg#Bookshelf-1"></use>
                </svg>
            </a>
            <ul class="box-nav-list mobile-nav">
                <li>
                    <a class="header-item home-link" href="/src/index.html">HOME</a>
                </li>
                <li class="spopping-item">
                    <a class="header-item shopping-link-menu" href="">
                        SHOPPING  LIST
                        <svg class="cart" width="20" height="20">
                            <use href="./images/sprite.svg#uil_cart-1-1"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="desktop-nav">
                <a href="/src/index.html" class="desktop-logo-link">
                    <svg class="logo-svg" width="24" height="24">
                        <use href="./images/sprite.svg#logo-6-1"></use>
                    </svg>
                    <svg class="logo-text-svg" width="77" height="28">
                        <use href="./images/sprite.svg#Bookshelf-1"></use>
                    </svg>
                </a>
                <ul class="box-nav-list desktop-list">
                    <li>
                        <a class="header-item home-link" href="/src/index.html" class="current-home home-link">HOME</a>
                    </li>
                    <li class="spopping-item">
                        <a class="header-item shopping-link-menu" href="" class="current-shopping shopping-link">
                            SHOPPING LIST
                            <svg class="cart" width="20" height="20">
                                <use href="./images/sprite.svg#uil_cart-1-1"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mobile-panel">
                <label class="switch" id="theme-switch-header">
                    <input type="checkbox" class="theme-checkbox">
                    <span class="slider"></span>
                </label>
                <button type="button" class="menu-button" aria-expanded="false" aria-controls="menu-container" data-menu-button>
                    <svg aria-label="mobile menu-button" width="28" height="28">
                        <use class="icon-close-menu" href="./images/sprite.svg#x-close"></use>
                        <use class="icon-menu" href="./images/sprite.svg#align-left"></use>
                    </svg>
                </button>
                <button class="user" type="button">
                    Sing up
                    <svg class="arrow-right-icon" width="20" hight="20">
                        <use class=".arrow-right-icon" href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>
            <div class="menu-container" id="menu-container" data-menu>
                <ul class="mobile-menu">
                    <ul class="box-nav-list">
                        <li>
                            <a class="header-item home-link-menu" href="/src/index.html" class="current-home home-link-menu">HOME</a>
                        </li>
                        <li class="molile-shoping-list">
                            <a class="header-item shopping-link-menu" href="" class="current-shopping shopping-link-menu">
                                SHOPPING LIST
                            </a>
                            <svg class="mobile-cart" width="20" height="20">
                                <use href="./images/sprite.svg#uil_cart-1-1"></use>
                            </svg>
                        </li>
                    </ul>
                </ul>
                <button class="authorization" type="button">
                    <p class="authorization-text">Log in</p>
                    <svg class="arrow-right-icon" width="20" hight="20">
                        <use class=".arrow-right-icon" href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
                <div class="image"></div>
            </div>   
        </nav>
    </div>   
</header>
