<header class="header container">
    <nav class="nav-logo">
        <a href="" class="logo-link">
            <svg class="logo-svg" width="24" height="24">
                <use href="./images/sprite.svg#logo-6-1"></use>
            </svg>
        </a>
        <a href="" class="logo-text">
            <svg class="logo-text-svg" width="77" height="14">
                <use href="./images/sprite.svg#Bookshelf-1"></use>
            </svg>
        </a>
        <ul class="header-list">
            <li class="header-item">
                <a href="" class="current-home">Home</a>
            </li>
            <li class="header-item">
                <a href="" class="current-shopping">
                    <span class="shopping-span">Shopping list</span>
                    <svg class="" width="20" height="20">
                        <use href="./images/sprite.svg#lock-02-1"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
    <div class="authorization">
        <svg class="" width="40" height="24">
            <use href="./images/sprite.svg#filter0_i_27513_31"></use>
        </svg>
        
        <button type="button" class="mobile-menu-open js-open-menu">
            <svg class="mobile-menu-open__icon" width="28" height="28">
                <use href="./images/sprite.svg#align-left-2-1"></use>
            </svg>
        </button>
        <div class="user">
            <svg class="user-photo" width="37" height="37">
                <use href="./images/sprite.svg#user-1"></use>
            </svg>
            <span class="name-user">Stephen</span>
            <svg class="user-exit" width="23" height="26">
                <use href="./images/sprite.svg#fi-ss-caret-down-1"></use>
            </svg>
        </div>
    </div>
    
    <!-- <div class="mobile-menu js-menu-container">
        <div class="container mobile-menu__container">
            <button class="mobile-menu__close-btn js-close-menu">
                <svg class="mobile-menu__close-icon" width="24" height="24">
                    <use href="./images/sprite.svg#icon-close"></use>
                </svg>
            </button>
            <nav class="mobile-nav">
                <a href="" class="logo-link">
                    <svg class="logo-svg" width="24" height="24">
                        <use href="./images/sprite.svg#logo-6-1"></use>
                    </svg>
                </a>
                <a href="" class="logo-text">
                    <svg class="logo-text-svg" width="77" height="14">
                        <use href="./images/sprite.svg#Bookshelf-1"></use>
                    </svg>
                </a>
                <svg class="" width="40" height="24">
                    <use href="./images/sprite.svg#Switcher-2-4"></use>
                </svg>
                <button type="button" class="mobile-menu-open js-open-menu">
                    <svg class="mobile-menu-open__icon" width="28" height="28">
                        <use href="./images/sprite.svg#align-left-2-1"></use>
                    </svg>
                </button>
            </nav>
            <div class="burger-user">
                <svg class="user-photo" width="37" height="37">
                    <use href="./images/sprite.svg#user-1"></use>
                </svg>
                <span class="name-user">Stephen</span>
                <svg class="user-exit" width="23" height="26">
                    <use href="./images/sprite.svg#fi-ss-caret-down-1"></use>
                </svg>
            </div>
            <ul class="burger-header-list">
                <li class="header-item">
                    <a href="" class="current-home">Home</a>
                </li>
                <li class="header-item">
                    <a href="" class="current-shopping">
                        <span class="shopping-span">Shopping list</span>
                        <svg class="" width="20" height="20">
                            <use href="./images/sprite.svg#lock-02-1"></use>
                        </svg>
                    </a>
                </li>
            </ul>
           <img src="/src/images/Burger-image 1x.png" width="" height="" alt="">
        </div>
    </div> -->
</header>