<div class="container">
  <button>Add</button>
  <div class="backdrop">
    <div class="modal">
      <div class="modal-close">
        <button type="button" class="modal-close-btn">+</button>
      </div>
      <img
        src="https://storage.googleapis.com/du-prd/books/images/9781250144058.jpg"
        class="popup-img"
      />
      <div class="popup-content">
        <h2 class="title">Title</h2>
        <h3 class="author">Author</h3>
        <p class="text">
          Text Text Text Text Text Text Text Text Text Text Text Text Text Text
          Text Text
        </p>
        <ul class="shop-list">
          <li class="shop-list-item"><a href="#">1</a></li>
          <li class="shop-list-item"><a href="#">2</a></li>
          <li class="shop-list-item"><a href="#">3</a></li>
        </ul>
        <!-- <button class="add">ADD TO SHOPPING LIST</button> -->
      </div>
      <button class="add">ADD TO SHOPPING LIST</button>
      <!-- <h2 class="title">Title</h2>
      <h3 class="author">Author</h3>
      <p class="text">Text Text Text Text Text Text Text Text</p>
      <ul class="shop-list">
        <li class="shop-list-item"><a href="#">1</a></li>
        <li class="shop-list-item"><a href="#">2</a></li>
        <li class="shop-list-item"><a href="#">3</a></li>
      </ul>
      <button class="add">ADD TO SHOPPING LIST</button> -->
    </div>
  </div>
</div>
