<!-- <section class="selected-category"> -->
  <div class="container">
    <div class="structure">
      <!-- Лєна меню-список категорій -->
      <div class="div-all-categories">
        <ul class="list-of-all-categories"></ul>
        
      </div>
      <!-- Костя Настя Категорії -->
      <div>
        <div class="header">
          <h2 class="header-category header-sc" style="display: inline"></h2>
          <h2 class="header-last-word header-sc" style="display: inline"></h2>
        </div>
    
        <ul class="selected-books-ul selected-books-js">
          <!-- loader -->
          <span class="loader" style="display: none"></span>
          <!-- current target for user -->
          <button type="button" class="see-more" hidden>Load more</button>
        </ul>
      </div>
    </div>

</section>
<script type="module" src="./js/allCategories.js"></script>
