<!-- <section class="selected-category"> -->
  <div class="container">
    <div class="structure">

      <div class="cover">
        <!-- Лєна меню-список категорій -->
        <div class="div-all-categories">
          <ul class="list-of-all-categories"></ul>
          
        </div>
  
        <!-- =============== Support Ukraine =============== -->
        <div class="support">
          <h2 class="head-title">
            Support Ukraine
            <svg class="icon-ua" width="20" height="32">
              <use href="./images/icons.svg#icon-ua"></use>
            </svg>
          </h2>
  
          <div class="swiper mySwiper">
            <ul class="swiper-wrapper support-list"></ul>
          </div>
  
          <button type="button" class="next swiper-next" aria-label="Swipe next">
            <span class="icon-container">
              <svg class="icon-down" width="20" height="32">
                <use href="./images/icons.svg#icon-down"></use>
              </svg>
            </span>
          </button>
        </div>
      </div>

      <!-- !===============! Best Sellers BEGIN !===============! -->
      <!-- <div class="visualy-hide"> -->
        <!-- <h1 class="hero-title">Best Sellers <span class="colored-text">Books</span></h1> -->
        
        <!-- <div class="best-sellers-books">
            
        </div> -->
      <!-- </div> -->
      <!-- !===============!Best Sellers END !===============! -->
      
      <!-- Костя Настя Категорії -->
      <div class= "selected-category" >
        <div class="head-sc">
          <h2 class="header-category header-sc" style="display: inline"></h2>
          <h2 class="header-last-word header-sc" style="display: inline"></h2>
        </div>
    
        <ul class="selected-books-ul selected-books-js">
          <!-- loader -->
          <span class="loader" style="display: none"></span>
          <!-- current target for user -->
          <button type="button" class="see-more" hidden>Load more</button>
        </ul>
      </div>
    </div>

</section>
<script type="module" src="./js/allCategories.js"></script>
