<!-- ДІВИ для тестування роботи (потрібно видалити) -->
<div class="card">
    <h2>111111111111111</h2>
</div>
<div class="card">
    <p>22222222222222222222</p>

</div>
<div class="card">
    <p>33333333333333</p>
</div>
<div class="card">
    <p>44444444444</p>
</div>
<div class="card">
    <p>555555555555555555</p>
</div>
<div class="card">
    <p>66666666666</p>
</div>
<div class="card">
    <p>7777777777777</p>
</div>
<div class="card">
    <p>8888888888</p>
</div>
<div class="card">
    <p>9999999999999999999</p>
</div>
<div class="card">
    <p>10101010101010101010</p>
</div>
<div class="card">
    <p>aaaaaaaaaaaaaaaaa</p>
</div>
<div class="card">
    <p>bbbbbbbbbbbbbbbbbbbbbbb</p>
</div>
<div class="card">
    <p>ccccccccccccccccc</p>
</div>
<div class="card">
    <p>dddddddddd</p>
</div>
<div class="card">
    <p>eeeeeeeeeeeeeeeeee</p>
</div>
<div class="card">
    <p>ffffffffff</p>
</div>



<!-- цей дів потрібно вставити в кінці секції Shopping-list -->

<div class="shopping-pagination">
    <ul class="pgs-previous-list pgs-list">
        <li class="page-item">
            <a href="#" class="page-number">
                <svg class="angle-left-icon-first">
                    <use href="./images/favicon.svg#angle-left"></use>
                </svg>
                <svg class="angle-left-icon-second">
                    <use href="./images/favicon.svg#angle-left"></use>
                </svg>
                <svg class="ellipse-icon-dark">
                    <use href="./images/favicon.svg#Ellipse"></use>
                </svg>
            </a>
        </li>
        <li class="page-item">
            <a href="#" class="page-number">
                <svg class="angle-left-icon">
                    <use href="./images/favicon.svg#angle-left"></use>
                </svg>
                <svg class="ellipse-icon-dark">
                    <use href="./images/favicon.svg#Ellipse"></use>
                </svg>
            </a>
        </li>
    </ul>
    <ul class="pgs-number-list pgs-list">
        <li class="page-item">
            <a href="#" class="page-number">
                <svg class="ellipse-icon-light">
                    <use href="./images/favicon.svg#Ellipse"></use>
                </svg>
                <span class="number-desc number-color">1</span>
            </a>
        </li>
        <li class="page-item">
            <a href="#" class="page-number">
                <svg class="ellipse-icon-light">
                    <use href="./images/favicon.svg#Ellipse"></use>
                </svg>
                <span class="number-desc number-color">2</span>
            </a>
        </li>
        <li class="page-item">
            <a href="#" class="page-number">
                <svg class="ellipse-icon-light">
                    <use href="./images/favicon.svg#Ellipse"></use>
                </svg>
                <span class="number-desc number-color">3</span>
            </a>
        </li>
        <!-- тут додаємо нові <li> -->
        <li class="dots page-item">
            <a href="#" class="page-number">
                <svg class="ellipse-icon-light">
                    <use href="./images/favicon.svg#Ellipse"></use>
                </svg>
                <span class="number-desc number-color">...</span>
            </a>
        </li>
    </ul>
    <ul class="pgs-next-list pgs-list">
        <li class="page-item">
            <a href="#" class="page-number">
                <svg class="angle-right-icon">
                    <use href="./images/favicon.svg#angle-right"></use>
                </svg>
                <svg class="ellipse-icon-yellow">
                    <use href="./images/favicon.svg#Ellipse"></use>
                </svg>
            </a>
        </li>
        <li class="page-item">
            <a href="#" class="page-number">
                <svg class="angle-right-icon-first">
                    <use href="./images/favicon.svg#angle-right"></use>
                </svg>
                <svg class="angle-right-icon-second">
                    <use href="./images/favicon.svg#angle-right"></use>
                </svg>
                <svg class="ellipse-icon-yellow">
                    <use href="./images/favicon.svg#Ellipse"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>
