<div class="shopping-pagination">
    <ul class="pgs-previous-list pgs-list">
        <li class="page-item">
            <a href="#" class="page-number">
                <svg class="angle-left-icon-first">
                    <use href="./images/favicon.svg#angle-left"></use>
                </svg>
                <svg class="angle-left-icon-second">
                    <use href="./images/favicon.svg#angle-left"></use>
                </svg>
                <svg class="ellipse-icon-dark">
                    <use href="./images/favicon.svg#Ellipse"></use>
                </svg>
            </a>
        </li>
        <li class="page-item">
            <a href="#" class="page-number">
                <svg class="angle-left-icon">
                    <use href="./images/favicon.svg#angle-left"></use>
                </svg>
                <svg class="ellipse-icon-dark">
                    <use href="./images/favicon.svg#Ellipse"></use>
                </svg>
            </a>
        </li>
    </ul>
    <ul class="pgs-number-list pgs-list">
        <li class="page-item">
            <a href="#" class="page-number">
                <svg class="ellipse-icon-light">
                    <use href="./images/favicon.svg#Ellipse"></use>
                </svg>
                <span class="number-desc number-color">1</span>
            </a>
        </li>
        <li class="page-item">
            <a href="#" class="page-number">
                <svg class="ellipse-icon-light">
                    <use href="./images/favicon.svg#Ellipse"></use>
                </svg>
                <span class="number-desc number-color">2</span>
            </a>
        </li>
        <li class="page-item">
            <a href="#" class="page-number">
                <svg class="ellipse-icon-light">
                    <use href="./images/favicon.svg#Ellipse"></use>
                </svg>
                <span class="number-desc number-color">3</span>
            </a>
        </li>
        <li class="page-item">
            <a href="#" class="page-number">
                <svg class="ellipse-icon-light">
                    <use href="./images/favicon.svg#Ellipse"></use>
                </svg>
                <span class="dots number-desc number-color">...</span>
            </a>
        </li>
    </ul>
    <ul class="pgs-next-list pgs-list">
        <li class="page-item">
            <a href="#" class="page-number">
                <svg class="angle-right-icon">
                    <use href="./images/favicon.svg#angle-right"></use>
                </svg>
                <svg class="ellipse-icon-yellow">
                    <use href="./images/favicon.svg#Ellipse"></use>
                </svg>
            </a>
        </li>
        <li class="page-item">
            <a href="#" class="page-number">
                <svg class="angle-right-icon-first">
                    <use href="./images/favicon.svg#angle-right"></use>
                </svg>
                <svg class="angle-right-icon-second">
                    <use href="./images/favicon.svg#angle-right"></use>
                </svg>
                <svg class="ellipse-icon-yellow">
                    <use href="./images/favicon.svg#Ellipse"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>
