<div class="container">
  <div class="sup-shop-cont">
      <!-- ****** support Ukraine ****** -->
      <div class="hide-support-shop-list">
          <div class="support">
            <h2 class="head-title">
              Support Ukraine
              <svg class="icon-ua" width="20" height="32">
                <use href="./images/icons.svg#icon-ua"></use>
              </svg>
            </h2>
        
            <div class="swiper mySwiper">
              <ul class="swiper-wrapper support-list"></ul>
            </div>
        
            <button type="button" class="next swiper-next" aria-label="Swipe next">
              <span class="icon-container">
                <svg class="icon-down" width="20" height="32">
                  <use href="./images/icons.svg#icon-down"></use>
                </svg>
              </span>
            </button>
          </div>
      </div>
      <!-- Секція shopping list -->
      <div class="shop-pagin-cont">
          <div class="empty-container">
            <h1 class="shopping-title">
              Shopping<span class="colored-text"> List</span>
            </h1>
            <!-- *** 1. цей дів відображається, якщо shoppinglist пустий: -->
            <div class="wrap-empty-desc">
              <p class="empty-desc">
                This page is empty, add some books and proceed to order.
              </p>
              <img
                class="empty-img"
                src="./images/empty_page@1x.jpg"
                alt="Image of the empty page"
                srcset="./images/empty_page@2x.jpg 2x"
              />
            </div>
          <!-- </div>  -->

            <!--*** 2. цей дів відображається, якщо в shoppinglist додані картки з книгами: -->
            <div class="wrap-container-shoppinglist">
                <!--! ось нижче буде дів Саши з картками + дів Альони з пагінацією -->
                <!--! "cards-container" і "shopping-pagination" класи, куди виводить Саша -->
                <div class="cards-container"></div>
                
                <div class="shopping-pagination">
                  <ul class="pgs-previous-list pgs-list">
                    <li class="page-item">
                      <a href="#" class="page-number">
                        <svg class="angle-left-icon-first">
                          <use href="./images/favicon.svg#angle-left"></use>
                        </svg>
                        <svg class="angle-left-icon-second">
                          <use href="./images/favicon.svg#angle-left"></use>
                        </svg>
                        <svg class="ellipse-icon-dark">
                          <use href="./images/favicon.svg#Ellipse"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-number">
                        <svg class="angle-left-icon">
                          <use href="./images/favicon.svg#angle-left"></use>
                        </svg>
                        <svg class="ellipse-icon-dark">
                          <use href="./images/favicon.svg#Ellipse"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                  <ul class="pgs-number-list pgs-list">
                    <li class="page-item">
                      <a href="#" class="page-number">
                        <svg class="ellipse-icon-light">
                          <use href="./images/favicon.svg#Ellipse"></use>
                        </svg>
                        <span class="number-desc number-color">1</span>
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-number">
                        <svg class="ellipse-icon-light">
                          <use href="./images/favicon.svg#Ellipse"></use>
                        </svg>
                        <span class="number-desc number-color">2</span>
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-number">
                        <svg class="ellipse-icon-light">
                          <use href="./images/favicon.svg#Ellipse"></use>
                        </svg>
                        <span class="number-desc number-color">3</span>
                      </a>
                    </li>
              
                    <li class="dots page-item">
                      <a href="#" class="page-number">
                        <svg class="ellipse-icon-light">
                          <use href="./images/favicon.svg#Ellipse"></use>
                        </svg>
                        <span class="number-desc number-color">...</span>
                      </a>
                    </li>
                  </ul>
                  <ul class="pgs-next-list pgs-list">
                    <li class="page-item">
                      <a href="#" class="page-number">
                        <svg class="angle-right-icon">
                          <use href="./images/favicon.svg#angle-right"></use>
                        </svg>
                        <svg class="ellipse-icon-yellow">
                          <use href="./images/favicon.svg#Ellipse"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-number">
                        <svg class="angle-right-icon-first">
                          <use href="./images/favicon.svg#angle-right"></use>
                        </svg>
                        <svg class="angle-right-icon-second">
                          <use href="./images/favicon.svg#angle-right"></use>
                        </svg>
                        <svg class="ellipse-icon-yellow">
                          <use href="./images/favicon.svg#Ellipse"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
            </div>

          </div>
        </div>
  </div>
</div>
